.card{
    position: relative;
    padding: 2rem;
    margin-top: 2rem;
    transition: all 0.8 ease-in;
    border: 0;
}

.card:hover{
    margin-top: 1.8rem;
    box-shadow: 10px 10px 15px -2px rgba(0,0,0,0.25);
}
.card:hover .overlay{
    animation: overlayIn 0.5s ease-in forwards;
}
.card:hover .overlay img{
    animation: imgIn 0.5s ease-in forwards;
}
.card:hover .overlay img:first-child{
    animation: imgOneIn 0.5s ease-in forwards;
}
.card:hover .overlay img:last-child{
    animation: imgLastIn 0.5s ease-in forwards;
}


.--yellow{
    background: #ffd356;
}

.--yellow .btn-primary{
    background: #6672e5;
    border-color: #6672e5;
    width: 60%;
}

.--blue{
    background: #6672e5;
}

.--blue .btn-primary{
    background: #ffd356;
    border-color: #ffd356;
    width: 60%;
    color: black;
}

.overlay{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 70px;
    animation: overlayOut 0.5s ease-in forwards;
}

.content{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.content img{
    width: 30%;
    height: 100%;
    border-radius: 3px;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 27%;
    animation: imgOut 0.5s ease-in forwards;
}

.content img:first-child{
    transform: rotate(-8deg);
    z-index: 1;
    animation: imgOneOut 0.5s ease-in forwards;
}
.content img:last-child{
    transform: rotate(8deg);
    z-index: 3;
    animation: imgLastOut 0.5s ease-in forwards;
}

@keyframes overlayIn {
    0% {
        top: 0px;
    }
    100% {
        top: -100px;
    }
}

@keyframes overlayOut {
    0% {
        top: -100px;
    }
    100% {
        top: -0;
    }
}

@keyframes imgIn {
    0% {
        width: 0;
    }
    100% {
        width: 30%;
    }
}

@keyframes imgOut {
    0% {
        width: 30%;
    }
    100% {
        width: 0;
    }
}

@keyframes imgOneIn {
    0% {
        width: 0;
        left: 27%;
    }
    100% {
        width: 30%;
        left: 0;
    }
}

@keyframes imgOneOut {
    0% {
        left: 0%;
        width: 30%;
    }
    100% {
        left: 27%;
        width: 0;
    }
}

@keyframes imgLastIn {
    0% {
        width: 0;
        left: 27%;
    }
    100% {
        width: 30%;
        left: 54%;
    }
}

@keyframes imgLastOut {
    0% {
        left: 54%;
        width: 30%;
    }
    100% {
        left: 27%;
        width: 0;
    }
}

@media only screen and (max-width : 576px) {
    .card{
        margin-bottom: 4rem;
    }
    .overlay{
        height: 80px;
    }
}
